output
/Application/application/keil/JLinkLog.txt
/Application/application/keil/JLinkSettings.ini
/Application/application/keil/marines.uvguix.larenia.zhang

test:vjdcbkasdlkdcmas.dcm a.,vc nalksdc

test2:ieuhflsnfvanfoiqi;refoqwr	ipeqfnk
